@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.container {
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/particle-lines-futuristic-network-background_53876-129729.jpg?t=st=1743348764~exp=1743352364~hmac=20bb220f06f3b6fbd79c9ec8d04e9d5be911e6a63087436d465a1af0a5026057&w=1060");
}

html {
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color:aliceblue;
    
}

main {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}

.homepage {
    padding: 150px 0 0 0;
    margin: 0px; 
}

#homepageh2{
    font-size: 60px;
    margin-top: -50px
}

.sisennysP {
    padding: 10px 200px;
}

figure p {
    padding: 0 30px;
}

header {
    display: flex;
    background-color: lightblue;
    width:80%;
    position: absolute;
    top: 0; 
}

h1 {
    margin: 0;
    background-color: skyblue;
    display: flex;
    padding: 5px 40px 0 ;
}

nav {
    margin-left: auto;
    justify-content: center;
    margin-top: 0;
    z-index: 10;
}

ul {

    display: flex;
    list-style-type: none;
    gap: 100px;
    padding: 1rem;
    margin:0;
    z-index: 10;
   
}

li a {
    text-decoration: none;
    z-index: 10;
}

#kuva1 {
    margin-top: -150px;
}


#otsikko {
    text-align: left;
    position:relative;
    padding: 7px 30px;
    margin: 0;
}

h2 {
    text-align: center;
    line-height: 5;
}

#contact {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    max-width: 900px; 
    margin-top: -20px; 
    position: relative;
    z-index: 1;
    text-align: left;
    padding: 0 30px;
}

article {
    width: 100%;
    padding: 1rem;
    margin: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    float: left;
    background-color: lightgray;
    
}

article h3 {
    text-align: center;
}

#contactMAP {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -120px;
}

figure {
    text-align: center;
    margin: 0;
    padding: 0;    
}

iframe {
    max-width: 100%;
    height: 300px;
}

@media screen and (min-width: 769px) {
    .container {
        width: 80%;
    }
    article {
        width: 30%
    }
}